{# src/IMIE/CoreBundle/Resources/views/Composant/Socket/index.html.twig #}


{% extends "IMIECoreBundle:index.html.twig" %}

{% block title %}
    Salle - {{ parent() }}
{% endblock %}

{% block title_table %}
Liste des processeurs
{% endblock %}
 
{% block imiecore_thead %}
    <th> # </th>
    <th> Model</th>
    <th> Cadence</th>
    <th> Socket</th>
    <th> Fabricant</th>    
{% endblock %}

{% block imiecore_tbody %}
    {% for processeur in listProcesseur %}
        <tr>
            <td>{{processeur.id}}</td>
            <td>{{processeur.nom}}</td>
            <td>{{processeur.cadence}} GHz</td>
            <td>{{processeur.Socket.nom}}</td>
            <td>{{processeur.Constructeur.nom}}</td>
        </tr>
    {% endfor %}
{% endblock %} 
{% block imiecore_button %}
    <div id="panelButton">
        <a id="addLink" href="{{ path('imie_core_home')}}processeur"> {{ include("IMIECoreBundle:Button:ajouter.html.twig") }}</a>
        <a id="delLink" href="{{ path('imie_core_home')}}processeur"> {{ include("IMIECoreBundle:Button:supprimer.html.twig") }}</a>
        <a id="editLink" href="{{ path('imie_core_home')}}processeur"> {{ include("IMIECoreBundle:Button:modifier.html.twig") }}</a>
    </div>   
{% endblock %}


   
