{# src/OC/PlatformBundle/Resources/views/materiel_type/formulaire.html.twig #}

{% extends "IMIECoreBundle:formulaire.html.twig" %}
            

  
  {% block  group %} 
    
      <div class="form-group">
          <label for="nom">Type:</label>
          {{ form_errors(form.type) }}
          {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
          <label for="nom">Nom dufabricant:</label>
          {{ form_errors(form.constructeur) }}
          {{ form_widget(form.constructeur, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
          <label for="nom">Model:</label>
          {{ form_errors(form.nom) }}
          {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
          <label for="nom">Processeur:</label>
          {{ form_errors(form.processeur) }}
          {{ form_widget(form.processeur, {'attr': {'class': 'form-control'}}) }}
      </div>      
      <div class="form-group">
          <label for="nom">Carte mere:</label>
          {{ form_errors(form.cm) }}
          {{ form_widget(form.cm, {'attr': {'class': 'form-control'}}) }}
      </div> 
      <div class="form-group">
          <label for="nom">Mémoire vive :</label>
          {{ form_errors(form.ram) }}
          {{ form_widget(form.ram, {'attr': {'class': 'form-control'}}) }}
      </div> 
      <div class="form-group">
          <label for="nom">Disque dur (Gb)  :</label>
          {{ form_errors(form.disque) }}
          {{ form_widget(form.disque, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
          <label for="nom">Vitesse (Gb/s)  :</label>
          {{ form_errors(form.vitesse) }}
          {{ form_widget(form.vitesse, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">
          <label for="nom">Nombres de ports  :</label>
          {{ form_errors(form.port) }}
          {{ form_widget(form.port, {'attr': {'class': 'form-control'}}) }}
      </div>       

  {% endblock  %}