{# src/OC/UserBundle/Resources/views/layout.html.twig #}

{# On étend notre layout #}
{% extends "::layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@IMIECoreBundle/Resources/public/css/style.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %} 

{# Dans notre layout, il faut définir le block body #}
{% block main %}
    <div class="container" id="main">
        <div class="row">


		  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
			{% for key, message in app.session.flashbag.all() %}
				<div class="alert alert-{{ key }}">
				  {{ message|trans({}, 'FOSUserBundle') }}
				</div>
			{% endfor %}

			{# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
			{% block fos_user_content %}

			{% endblock fos_user_content %}


			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			    Connecté en tant que {{ app.user.username }}
			    -
			    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
			{% else %}
			    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
			{% endif %}
		</div>
	</div>




{% endblock %}