{# src/IMIE/CoreBundle/Resources/views/Composant/Socket/index.html.twig #}


{% extends "IMIECoreBundle:index.html.twig" %}

{% block title %}
    Salle - {{ parent() }}
{% endblock %}

{% block title_table %}
    Liste des sockets
{% endblock %}
 
{% block imiecore_thead %}
    <th> # </th>
    <th> Model</th>
    <th> Fabricant</th>    
{% endblock %}

{% block imiecore_tbody %}
    {% for socket in listSocket %}
        <tr>
            <td>{{socket.id}}</td>
            <td>{{socket.nom}}</td>
            <td>{{socket.Constructeur.nom}}</td>
        </tr>
    {% endfor %}
{% endblock %} 

{% block imiecore_button %}
    <div id="panelButton">
        <a id="addLink" href="{{ path('imie_core_home')}}socket"> {{ include("IMIECoreBundle:Button:ajouter.html.twig") }}</a>
        <a id="delLink" href="{{ path('imie_core_home')}}socket"> {{ include("IMIECoreBundle:Button:supprimer.html.twig") }}</a>
        <a id="editLink" href="{{ path('imie_core_home')}}socket"> {{ include("IMIECoreBundle:Button:modifier.html.twig") }}</a>
    </div>   
{% endblock %}


   
